<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TIC_CEA_SYSTEM.Properties.Settings.CEA_MESAConnectionString"
            connectionString="Data Source=;Initial Catalog=;User ID=;Password=******"
            providerName="System.Data.SqlClient" />                
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>